{% extends "::base.html.twig" %}

{% block title %}RepairBundle:Repair:show{% endblock %}

{% block body %}
    <h1>fault list</h1>

    {% for form in repairForm %}
        {{ form.faultInfo.faultPriority.name }}
        <br>
        {{ form.faultInfo.faultType.name }}
        <br>
        {{ form.faultInfo.group.name }}

        <br>
        {{ form.faultInfo.reporterDescription }}

        <hr>
    {% endfor %}
{% endblock %}
