@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

.table tr a{
    display: block;
}

.navbar-brand img
{
    margin-left: 20px;
}



#content{
    margin-top: 50px;
}


html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
/*
.footer {
    clear: both;
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
*/
.navbar-fixed-bottom {
    background-color: #f8f8f8;
    width: auto;
}
.container .text-muted {

    padding: 20px;

}