{% extends "RepairBundle::layout.html.twig" %}

{% block title %}我的消息{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">



    </style>
{% endblock %}

{% block body %}
    <div id="content">
        <div class="row">

            {{ knp_menu_render('RepairBundle:Builder:mainMenu') }}

        </div>
    </div>
{% endblock %}