{% extends "RepairBundle::layout.html.twig" %}

{% block title %}供应商信息{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">

    </style>
{% endblock %}

{% block body %}


    <div id="content">
        <div class="row">

            {% trans_default_domain 'RepairBundle' %}
    {% for s in supplier %}
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i>{{ s.name }}
                    </div>
                    <div class="panel-body">
                        <div id="repairFormNumberOfAllType"></div>
                        <a href="#" class="btn btn-default btn-block">View Details</a>
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}